
.title-body{
    color: white;
    background-image: linear-gradient(rgba(105, 158, 204, 0.913), rgba(13, 118, 210, 0.913));
    background-size: 50%;
    font-family: sans-serif;
    font-size: 10vh;
    border: 10px double white;
    border-radius: 25%;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: 20%;
    padding: 6%;
    text-align: center;
}

.main-body{
    background-image: url("images/HomePageBackground.png");
    background-size: 200%;
}

.flex-container{
    display: flex;
    gap: 1%;
}

.content-column{
    border: 5px;
    border-style: double groove;
    border-color: white;
    text-align: center;
    font-family: sans-serif;
    color: white;
    background-color: purple;
    background-image: linear-gradient(rgba(105, 158, 204, 0.913), rgba(13, 118, 210, 0.913));
    background-size: 50%;
    padding: 2%;
    padding-block: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

#CurrentDate{
    color: rgb(23, 118, 23);
    font-weight: bold;
    font-size: 3vh;
    background-color: black;
    border: 5px;
    border-style: inherit;
    border-color: rgb(218, 218, 67);
}

#top-nav-bar button, #bottom-nav-bar button{
    flex: 1; 
    text-align: center;
    list-style-type: none;
    border: 5px;
    border-style: double groove;
    border-color: rgb(218, 218, 67);
    background-image: linear-gradient(darkblue, blue );
    color: white;
    font-family: sans-serif;
}